{% extends 'base.html.twig' %}

{% block Titre %}
  tableau de bord Auteur 
    
{% endblock %}
{% block body %}

  {% for message in app.flashes('success') %}
		<div class="bg-success ">
			{{ message | join('<br>') }}
		</div>
	{% endfor %}
    
<main class="h-screen">
  <h2 class="text-2xl font-semibold mb-2 text-stone-800">Liste de vos textes</h2>
    <table class="w-screen m-8 p-6">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="">
       {% for article in articles %}
        <tr>
          <td >{{ article.titreArticle }}</td>
          <td>{{ article.dateArticle ? article.dateArticle|date('Y-m-d ') : '' }}</td>
          <td>
            <a href="{{ path('app_article_show', {'id': article.id}) }}">Voir</a>
            {# <a href="{{path('app_article_edit', {'id' : article.id})}}">edit</a> #}
            {{ include('article/_delete_form.html.twig') }}
          </td>
        </tr>
            {% else %}
        <tr>
          <td colspan="9">Vous n'avez encore aucune créations</td>
        </tr>
            {% endfor %}
      </tbody>
    </table>
  <a href="{{ path('app_article_new') }}">Create new</a>
  </main>
{% endblock %}
