{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<header class="h-24 relative w-screen flex">
    <img class="w-full object-cover" src="/images/image/entetearticle.jpg" alt="image d'un livre ouvert">
    <div class="absolute inset-0 flex items-center justify-center">
        <img class="w-1/4 h-auto " src="/images/logo/logolignenoir.png" alt="logo de Thot">
    </div>
</header>

<main>
    <section class=' mx-10 flex flex-col justify-between'>
        <div class='shadow-2xl shadow-inner m-6'>
            <h2 class="text-center p-8  font-semibold text-3xl">{{ article.titreArticle }}</h2>
            <article class='my-6'>{{ article.texteArticle|raw }}</article>
            <p class"font-semibold italic">{{article.utilisateur.nomUtilisateur}}</p>
            <p class='flex justify-end'>{{ article.dateArticle ? article.dateArticle|date('d F Y'): '' }}</p>
        </div>
    </section>
    
    <a href="{{ path('app_article_index') }}">Retour vers la page de recherche </a>

    {% if app.user %}
    <div>
        <a href="{{path('app_article_edit', {'id' : article.id})}}">edit</a>
    </div>
    {% endif %}
 
    {% if ('ROLE_ADMIN') %}
        {{ include('article/_delete_form.html.twig') }}
        <a href="{{path('app_admin')}}">Retour au tableau de bord </a>
        <p>{{article.statutArticle ? 'Visible' : 'En attente' }}</p>
    {% endif %}
    
</main>
{% endblock %}
